.AccountOverview {

  .AccountRow {
    vertical-align: middle;

    .ImageAttachment {
      max-width: 2rem;
    }
  }
}

.OwnAccountOverview, .AccountOverview, .LiabilityOverview, .ScheduledTransactionOverview {

  .Table {
    font-size: 1.025em;
  }

  tr {

    td {
      vertical-align: middle;
    }

    .Dropdown .Button.icon.muted {
      visibility: hidden;
    }

    h2 {
      font-size: 1.2em;
      margin: var(--border-radius-sm) 0;
    }

    .Description {
      margin-top: 0.2em;
      padding-left: .2em;
    }

    .Summary {
      font-size: .8rem;
      color: var(--app-text-muted-color);
      padding-left: .2em;

      & label {
        font-weight: 600;

        &:after {
          content: ': ';
        }
      }
    }

    &:hover {
      .Dropdown .Button.icon.muted {
        visibility: visible;
      }
    }
  }
}
