.AccountForm {
  .Form {
    .General {
      display: flex;

      & > * {
        flex: 1;
      }

      .UploadAttachment {
        margin-left: 2rem;
        max-width: 150px;
      }
    }
  }
}
