@import "constants";

.hamburger-menu {
  display: none;
}

.Breadcrumb {
  transition: left .25s,right .25s,width .25s;

  display: flex;
  position: relative;
  flex-wrap: wrap;

  border-radius: 0;
  border-bottom: 1px solid var(--app-border-color);
  background-color: var(--app-background);

  padding: .75rem 1rem;
  list-style: none;

  .Item {
    flex: 1;
    max-width: fit-content;

    &:before {
      content: '/';
      margin: 0 .25rem;
    }

    &:first-child:before, &:nth-child(2):before {
      content: '';
    }
  }

  .Menu {
    flex: 1;
    text-align: -webkit-right;
  }
}

@media (max-width: $media-max-width) {
  .Breadcrumb {
    padding-left: 3.5rem;
    .Item {
      &:nth-child(n+4) {
        display: none;
      }
    }
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    padding: .8rem;

    cursor: pointer;
    background-color: lighten(lightgray, 15);
  }
}