.CategoryReport {
  .Breadcrumb {
    .Menu {
      & > div {
        display: inline;
      }
    }
  }

  .Columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    & > .card {
      margin: .25em;

      &:first-child {
        flex: 2;
        min-width: 50em;
      }

      &:last-child {
        flex: 1;
        min-width: 20em;
      }
    }
  }
}
