.Paginator {
  width: fit-content;
  margin: 0 auto !important;

  & > .PageLink {
    display: inline-block;

    padding: .35rem;
    width: 1rem;

    text-align: center;
    
    border-spacing: 0;
    border: 1px solid var(--app-border-color)
  }

  .PageLink.Selected {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
  }

  .PageLink.false {
    pointer-events: none;
    color: #c7cdd363;
    border: #c7cdd363 solid 1px;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }
}
