.SavingDetailView {

  h2 {
    margin: 0 0 .5em 0;
    font-size: 1.2em;
  }

  table.Summary {
    td:first-child {
      display: flex;
      min-width: 15em;

      & > * {
        flex: 1;
      }

      .HelpText {
        max-width: 1.5em;
        height: 100%;

        svg {
          vertical-align: text-top;
        }

        .Translation {
          min-width: 15em;
        }
      }
    }

    margin-bottom: 1em;
  }

  table.SavingGoals {
    tr > td:nth-child(2) {
      display: flex;
      padding-right: 1em;

      & > * {
        flex: 1;
      }

      .DropDown &.Button {
        margin: .2em;
      }
    }
  }
}
