.ScheduleTransactionForm {
  .Form {
    .DateRange {
      display: flex;

      & > * {
        flex: 1;
        max-width: 15em;

        &:nth-child(2) {
          text-align: center;
          max-width: 1.2em;
          font-size: 1.2em;
        }
      }
    }
  }
}
