@import 'constants';

$footer-height: 45px;

.sidebar {
  height: 100svh;
  max-width: $sidebar-offset;

  color: var(--sidebar-color);
  background: var(--sidebar-background);
  position: relative;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .brand {
    padding: 5px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: row;
    align-items: center;

    background: var(--sidebar-sub-background);

    & > * {
      flex: 1;
    }

    img {
      max-width: 35px;
      height: 35px;
    }

    span {
      padding-top: 3px;
      text-align: center;
    }

    .toggle {
      max-width: 25px;
      cursor: pointer;
    }
  }

  .button {
    width: calc(100% - 10px);
    max-height: .7*$sidebar-min-offset;
    min-height: .7*$sidebar-min-offset;

    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    font-size: 1.1em;

    display: flex;
    flex-flow: row;
    color: var(--sidebar-title-color);
    z-index: 10;
    text-decoration: none;

    &:active, &:hover {
      text-decoration: none;
    }

    &.active {
      background: var(--sidebar-sub-background);
      border-radius: 5px;
    }

    &:hover {
      background: var(--app-background);
      border-radius: 5px;

      color: var(--app-header-text);

      .expand {
        color: var(--app-header-text);
      }
    }

    & > * {
      flex: 1;
    }

    svg {
      padding-left: 10px;
      max-width: 30px;
    }

    span {
      margin-left: 5px;
    }

    svg.expand {
      max-width: 20px;
      margin-right: 5px;
      color: var(--app-text-muted-color);
    }
  }

  section.expandable {
    .expand-buttons {
      margin-left: 5px;
      padding-left: 5px;
      overflow-y: hidden;

      max-height: 0;
      transition: max-height $transition-time;

      &.active {
        height: auto;
        max-height: 500px;

        background-color: var(--sidebar-sub-background);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .button.active {
        background-color: var(--sidebar-icon-color);
        border-radius: 5px;
      }
    }
  }

  .divider {
    text-transform: uppercase;
    color: var(--sidebar-icon-color);
    padding-left: 15px;
    margin: 15px 0 5px 0;
  }

  .spacer {
    flex: auto;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--sidebar-sub-background);

    .Profile {
      padding: .15em .25em;

      .ProfilePicture {
        background: var(--sidebar-title-color);
        border-radius: .5rem;
      }
    }


    .logout {
      cursor: pointer;
      color: var(--sidebar-icon-color);
      padding-right: 1em;
    }
  }
}

@media (max-width: $media-max-width) {
  .sidebar {
    display: none;
  }
}
