body {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --border-radius: .5rem;
  --border-radius-sm: .25rem;

  --success-color: #24dc24;
  --bg-success-color: rgba(36, 220, 36, 0.1);
  --dark-success-color: #157347;
  --warning-color: #ef394e;
  --bg-warning-color: rgba(239, 57, 78, 0.1);
  --dark-warning-color: #af2735;
  --primary-color: #0d6efd;
  --dark-primary-color: #084bb4;
  --secondary-color: #c7c5c5;
  --dark-secondary-color: #7c7c7c;
  --app-text-muted-color: #73818f;
  --info-color: #5bc0de;
  --dark-info-color: #387789;

  --selectable-hover-color: rgba(0, 0, 0, 0.075);

  &.dark {
    --app-body-background: #e4e5e6;
    --app-background: #fff;
    --app-border-color: #d3c9c9;
    --app-header-background: #fff;
    --app-header-text: #000;
    --sidebar-color: #fff;
    --sidebar-icon-color: #74828e;
    --sidebar-background: #2f353a;
    --sidebar-title-color: #e4e7ea;
    --sidebar-sub-background: #3a4046;
    --card-header-background: #f0f3f5;
    --card-header-color: #000;
    --wizard-step-color: #6c757d;
    --link-color: #007bff;
  }

  &.navy {
    --app-body-background: #c7e0f9;
    --app-background: #fff;
    --app-border-color: #192d3e;
    --app-header-background: #002C51;
    --app-header-text: #fff;
    --sidebar-color: #fff;
    --sidebar-icon-color: #74828e;
    --sidebar-background: #002C51;
    --sidebar-title-color: #b7deff;
    --sidebar-sub-background: #002C51;
    --card-header-background: #3f8cbf;
    --card-header-color: #fff;
    --wizard-step-color: #6c757d;
    --link-color: #007bff;
  }

  &.light {
    --app-body-background: rgb(253, 253, 253);
    --app-background: #fff;
    --app-border-color: rgba(184, 184, 184, 0.67);
    --app-header-background: rgba(165, 198, 228, 0.61);
    --app-header-text: #858484;
    --sidebar-color: #fff;
    --sidebar-icon-color: rgba(152, 191, 227, 0.79);
    --sidebar-background: #fafafa;
    --sidebar-title-color: rgba(4, 55, 92, 0.61);
    --sidebar-sub-background: rgba(165, 198, 228, 0.61);
    --card-header-background: rgba(152, 191, 227, 0.53);
    --card-header-color: #7a90df;
    --wizard-step-color: #6c757d;
    --link-color: #012445;
  }
}
