.Table.Transactions {
  .TransactionRow {
    td {
      vertical-align: middle;

      &:nth-child(2) {
        text-align: center;
      }
    }

    input.Select {
      appearance: none;
      height: 1em;
      width: 1em;
      border: var(--app-text-muted-color) 1px solid;

      &:after {
        display: block;
        margin-top: -2px;
        padding-left: 2px;
        font-size: .8em;
        content: ' '
      }

      &:checked {
        &:after {
          content: '\2713';
        }
      }
    }

    .ImageAttachment {
      max-width: 25px;
    }

    .Summary {
      font-size: .8rem;
      color: var(--app-text-muted-color);

      & label {
        font-weight: 600;

        &:after {
          content: ': ';
        }
      }
    }

    .Dropdown .Button.icon.muted {
      visibility: hidden;
    }

    &:hover {
      .Dropdown .Button.icon.muted {
        visibility: visible;
      }
    }
  }
}
