
.TransactionForm {

  div.SplitEditor {
    display: flex;

    &:before {
      content: '';
      flex: 1;
      max-width: 14.8vw;
    }

    table {
      flex: 3;
      td {
        position: relative;
        height: 2.2em;
        vertical-align: middle;

        &:last-child {
          width: 15px;
          text-align: center;
        }
      }

      input {
        position: absolute;
        left: 0;
        top: var(--border-radius);
        right: calc(var(--border-radius) / 2);
      }
    }

  }

  fieldset.Buttons {
    display: flex;

    &:before {
      content: '';
      flex: 1;
      max-width: 15vw;
    }

    & > div {
      flex: 3;
    }
  }
}
