name: Build Node.js

on: [workflow_call]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run test suite
        run: yarn run test:coverage
      - name: Build application
        run: yarn run build
      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact
          path: |
            dist/**
            coverage/**