name: Check application

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  pull-requests: write

jobs:
  build:
    uses: ./.github/workflows/build-node.yml
  bundle:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Configure Java version
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'
          architecture: x64
      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: build-artifact
      - name: 'Report Coverage'
        if: always()
        uses:  davelosert/vitest-coverage-report-action@v2
      - name: Create JAR bundle
        run: ./builder/gradlew -p builder jar
      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: bundle-jar
          path: builder/build/libs