name: Release build

on:
  release:
    types: [published]

permissions:
  packages: write

jobs:
  build:
    uses: ./.github/workflows/build-node.yml
  bundle:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Configure Java version
        uses: actions/setup-java@v5
        with:
          java-version: '24'
          distribution: 'temurin'
          architecture: x64
      - name: Download artifact
        uses: actions/download-artifact@v8
        with:
          name: build-artifact
      - name: Create JAR bundle
        run: ./builder/gradlew -p builder jar
      - name: Publish artifacts
        run: |
          NEW_VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          echo "New version: ${NEW_VERSION}"
          echo "Github username: ${GITHUB_ACTOR}"
          ./builder/gradlew -p builder -Pversion=${NEW_VERSION} publish -x check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}